<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="3">
    <parameter name="browserType" value="headless chrome"/>
    <test name="Login Test">
        <classes>
            <class name="com.regiewby.runners.TestRunner"/>
        </classes>
    </test>
</suite>